project: pearsontechnology
environments:
  - name: sample-app-environment
    namespace: eo-tst
    deployment:
      method: rolling-upgrade
    services:
      - type: Kafka
        name: kafkasvc
        version: 1.0.0
        options:
          replicas: 3
          zookeeperConnect: "zkex"
          resources_limits_cpu: "4"
          resources_limits_memory: 8Gi
          resources_requests_cpu: "2"
          resources_requests_memory: 8Gi
      - type: Neptune
        name: nep01
        version: 1.0.0
        options: 
          ApplyImmediately: True
          db_instances:
            - db_name: "db01"
              db_instance_class: "db.r4.2xlarge"
            - db_name: "db02"
              db_instance_class: "db.r4.xlarge"
            - db_name: "db03"
              db_instance_class: "db.r4.large"
            - db_name: "db04"
              db_instance_class: "db.r4.large"
      - name: eviews
        ssl: false
        port: 9330
        application: eviews
        annotations:
            - name: prometheus.io/scrape
              value: true
            - name: prometheus.io/path
              value: /cms/metrics
            - name: prometheus.io/port
              value: 9330
              limits:
                memory: 2048Mi
              replicas: 1
              env:
                - name: CONSUL_USE_SSL
                  value: "true"
                - name: CONSUL_URL
                  value: "https://consul.glp1.us-east-2.pre.prsn.io"
                - name: CONSUL_PORT
                  value: "443"
                - name: APP_ENV
                  value: env_properties
                - name: VAULT_SKIP_VERIFY
                  value: "true"
                - name: VAULT_ADDR
                  value: "https://vault.kube-system.svc.cluster.local:8243"
                - name: PREFIX_MAIN
                  value: "glp2-eng/namespace/glp2-eng/eviews-service"
                - name: PREFIX_DB
                  value: "glp2-eng/namespace/glp2-eng/global/cluster1"
                - name: service_name
                  value: cms-service
                - name: container_name
                  pod_field: metadata.name
                - name: environment
                  pod_field: metadata.namespace
                - name: host
                  pod_field: spec.nodeName
                - name: namespace
                  pod_field: metadata.namespace
                - name: container_id
                  pod_field: metadata.name
                - name: CB_SSL_ENABLED
                  value: off
                - name: KEYTOOL_PASSWD
                  value: changeit
                - name: PEM_PATH
                  value: /opt/ssl
              volumes:
                - name: ca-internal
                  path: /opt/ssl
                  type: secret
