project: pearsontechnology
environments:
  - name: sample-app-environment
    namespace: eo-tst
    deployment:
      method: rolling-upgrade
    services:
      - type: Kafka
        name: kafkasvc
        options:
          replicas: 3
          zookeeperConnect: "zkex"
          resources_limits_cpu: "4"
          resources_limits_memory: 8Gi
          resources_requests_cpu: "2"
          resources_requests_memory: 8Gi
      - type: Cb
        name: cluster1
        version: 1.0.0
        options:
          use_mds: 1
          high_perf: 1
          instance_type: "r4.2xlarge"
          node_count: "2"
          data_size: 512
          query_instance_type: "c4.large"
          query_node_count: "1"
          query_data_size: 200
          index_instance_type: "r4.xlarge"
          index_node_count: "1"
          index_data_size: 512
