project: pearsontechnology
environments:
  - name: sample-app-environment
    namespace: eo-tst
    deployment:
      method: rolling-upgrade
    services:
      - type: Kafka
        name: kafkasvc
        options:
          replicas: 3
          zookeeperConnect: "zkex"
          resources_limits_cpu: "4"
          resources_limits_memory: 8Gi
          resources_requests_cpu: "2"
          resources_requests_memory: 8Gi
      - type: postgres
        name: eo-tst-kong
        version: 1.0.0
        options:
          version: 9.6.6
          replicas: 1
          multiaz: false
          dbinstanceclass: db.m4.larged
          allocatedstorage: 200
